{% extends "main.html" %}

{% block styles %}
<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css" href="/static/app-assets/vendors/css/extensions/dragula.min.css">
<!-- END: Vendor CSS-->

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="/static/app-assets/css/plugins/extensions/drag-and-drop.css">
<!-- END: Page CSS-->
<style>
    .card {
        padding: 20px;
    }
</style>

{% endblock %}

{% block content %}

<div class="content-body">    
    <div class="content-body">
        <!-- Draggable cards section start -->
        <section id="draggable-cards">
            <div class="row" id="card-drag-area">
                {% for i in range(4) %}
                <div class="col-xl-6 col-md-12 col-sm-12">
                    <div class="card" style="text-align: -webkit-right;">
                        <div class="row">
                            <div class="col-md-1">
                                <label for="tbl_list" style="vertical-align: -webkit-baseline-middle;">Tables: </label> 
                            </div>            
                            <div class="col-md-3">
                                <select class="form-control" id="tbl_list">
                                    {% for tbl in tbls %} 
                                        <option value="{{tbl.id}}">{{tbl.tbl_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="sheet_id" style="vertical-align: -webkit-baseline-middle;">Spread Sheet ID: </label> 
                            </div>            
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="sheet_id">
                            </div>                             
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-2">
                                <label for="sheet_name" style="vertical-align: -webkit-baseline-middle;">Sheet Name: </label> 
                            </div>            
                            <div class="col-md-2">
                                <input type="text" class="form-control" name="sheet_name">
                            </div> 
                            <div class="col-md-1">
                                <label for="sheet_range" style="vertical-align: -webkit-baseline-middle;">Range: </label> 
                            </div>            
                            <div class="col-md-2">
                                <input type="text" class="form-control" name="sheet_range">
                            </div>
                            <div class="col-md-1">
                                <label for="chart_title" style="vertical-align: -webkit-baseline-middle;">Title: </label> 
                            </div>            
                            <div class="col-md-2">
                                <input type="text" class="form-control" name="chart_title">
                            </div>
                            <div class="offset-md-1 col-md-1">
                                <input type="radio" class="form-control" name="ch_chart_type">
                            </div>
                            <input type="hidden" name="chart_type">
                            <!-- <div class="col-md-2 mt-1 mb-2">
                                <button type="button" class="btn btn-outline-primary btn-md btn_import_table">import</button>
                            </div>                             -->                            
                        </div>
                        <div class="row col-md-12 mt-2" name="table_area" style="margin: auto; overflow-x:auto;"></div>                        
                    </div>
                </div>
                {% endfor %}
                <div class="col-xl-12 col-md-12 col-sm-12" style="text-align: -webkit-right;">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-1">
                                <label for="tbl_list" style="vertical-align: -webkit-baseline-middle;">Tables: </label> 
                            </div>            
                            <div class="col-md-3">
                                <select class="form-control" id="tbl_list">
                                    {% for tbl in tbls %} 
                                        <option value="{{tbl.id}}">{{tbl.tbl_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="sheet_id" style="vertical-align: -webkit-baseline-middle;">Spread Sheet ID: </label> 
                            </div>            
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="sheet_id">
                            </div>                             
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-2">
                                <label for="sheet_name" style="vertical-align: -webkit-baseline-middle;">Sheet Name: </label> 
                            </div>            
                            <div class="col-md-2">
                                <input type="text" class="form-control" name="sheet_name">
                            </div> 
                            <div class="col-md-1">
                                <label for="sheet_range" style="vertical-align: -webkit-baseline-middle;">Range: </label> 
                            </div>            
                            <div class="col-md-2">
                                <input type="text" class="form-control" name="sheet_range">
                            </div>
                            <div class="col-md-1">
                                <label for="chart_title" style="vertical-align: -webkit-baseline-middle;">Range: </label> 
                            </div>            
                            <div class="col-md-2">
                                <input type="text" class="form-control" name="chart_title">
                            </div>
                            <div class="offset-md-1 col-md-1">
                                <input type="radio" class="form-control" name="ch_chart_type">
                            </div> 
                            <input type="hidden" name="chart_type">                        
                        </div>
                        <div class="row col-md-12 mt-2" name="table_area" style="margin: auto; overflow-x:auto;"></div>                        
                    </div>
                </div>
                <div class="col-xl-12 col-md-12 col-sm-12" style="text-align: -webkit-right;">
                    <div class="card">
                        <div class="row">
                            <div class="offset-md-5 col-md-3">
                                <label for="dashboard_name" style="vertical-align: -webkit-baseline-middle;">Dashboard Name: </label> 
                            </div>            
                            <div class="col-md-2">
                                <input type="text" class="form-control" name="dashboard_name" id="dashboard_name">
                            </div>           
                            <div class="col-md-2">
                                <button type="button" class="btn btn-outline-primary" id="btn_save_dashboard">Save Dashboard</button>
                            </div> 
                        </div>                      
                    </div>
                </div>
            </div>
        </section>
        <!-- // Draggable cards section end -->       

    </div>

</div>
{% endblock %}

{% block js %}
<!-- BEGIN: Page Vendor JS-->
<script src="/static/app-assets/vendors/js/extensions/dragula.min.js"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Page JS-->
<script src="/static/app-assets/js/scripts/extensions/drag-drop.js"></script>
<script src="/static/app-assets/js/edit_dashboard.js"></script>
<!-- END: Page JS-->
{% endblock %}

