{% extends "main.html" %}

{% block styles %}
<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css" href="/static/app-assets/vendors/css/extensions/dragula.min.css">
<!-- END: Vendor CSS-->

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="/static/app-assets/css/plugins/extensions/drag-and-drop.css">
<!-- END: Page CSS-->
<style>
    .card {
        padding: 20px;
    }
</style>

{% endblock %}

{% block content %}

<div class="content-body">
    <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-left mb-0">Drag &amp; Drop</h2>
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Extensions</a>
                            </li>
                            <li class="breadcrumb-item active">Drag &amp; Drop
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
            <div class="form-group breadcrum-right">
                <div class="dropdown">
                    <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-settings"></i></button>
                    <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Chat</a><a class="dropdown-item" href="#">Email</a><a class="dropdown-item" href="#">Calendar</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- Draggable cards section start -->
        <section id="draggable-cards">
            <div class="row" id="card-drag-area">
                <div class="col-xl-6 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="row">
                            <div class="offset-md-1 col-md-1">
                                <label for="tbl_list" style="vertical-align: -webkit-baseline-middle;">Tables: </label> 
                            </div>            
                            <div class="col-md-3">
                                <select class="form-control" id="tbl_list">
                                    {% for tbl in tbls %} 
                                        <option value="{{tbl.id}}">{{tbl.tbl_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-1">
                                <label for="sheet_id" style="vertical-align: -webkit-baseline-middle;">Sheet ID: </label> 
                            </div>            
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="sheet_id">
                            </div> 
                        </div>
                        <div class="row mt-2">
                            <div class="offset-md-1 col-md-2">
                                <label for="sheet_header" style="vertical-align: -webkit-baseline-middle;">Header Row Index: </label> 
                            </div>            
                            <div class="col-md-1">
                                <input type="text" class="form-control" name="sheet_header" id="sheet_header">
                            </div>
                            <div class="col-md-1">
                                <label for="sheet_range" style="vertical-align: -webkit-baseline-middle;">Range: </label> 
                            </div>            
                            <div class="col-md-2">
                                <input type="text" class="form-control" name="sheet_range" id="sheet_range">
                            </div>
                            <div class="offset-md-2 col-md-2 mt-1 mb-2">
                                <button type="button" class="btn btn-outline-primary btn-md btn_import_table">import</button>
                            </div>                            
                        </div>
                        <div class="row col-md-12" name="table_area" style="margin: auto; overflow-x:auto;"></div>
                        
                    </div>
                    
                </div>
                <div class="col-xl-6 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="row">
                            <div class="offset-md-1 col-md-1">
                                <label for="tbl_list" style="vertical-align: -webkit-baseline-middle;">Tables: </label> 
                            </div>            
                            <div class="col-md-3">
                                <select class="form-control" id="tbl_list">
                                    {% for tbl in tbls %} 
                                        <option value="{{tbl.id}}">{{tbl.tbl_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-1">
                                <label for="sheet_id" style="vertical-align: -webkit-baseline-middle;">Sheet ID: </label> 
                            </div>            
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="sheet_id">
                            </div> 
                        </div>
                        <div class="row mt-2">
                            <div class="offset-md-1 col-md-2">
                                <label for="sheet_header" style="vertical-align: -webkit-baseline-middle;">Header Row Index: </label> 
                            </div>            
                            <div class="col-md-1">
                                <input type="text" class="form-control" name="sheet_header" id="sheet_header">
                            </div>
                            <div class="col-md-1">
                                <label for="sheet_range" style="vertical-align: -webkit-baseline-middle;">Range: </label> 
                            </div>            
                            <div class="col-md-2">
                                <input type="text" class="form-control" name="sheet_range" id="sheet_range">
                            </div>
                            <div class="offset-md-2 col-md-2 mt-1 mb-2">
                                <button type="button" class="btn btn-outline-primary btn-md btn_import_table">import</button>
                            </div>                            
                        </div>
                        <div class="row col-md-12" name="table_area" style="margin: auto; overflow-x:auto;"></div>
                        
                    </div>
                </div>
                <div class="col-xl-6 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="row">
                            <div class="offset-md-1 col-md-1">
                                <label for="tbl_list" style="vertical-align: -webkit-baseline-middle;">Tables: </label> 
                            </div>            
                            <div class="col-md-3">
                                <select class="form-control" id="tbl_list">
                                    {% for tbl in tbls %} 
                                        <option value="{{tbl.id}}">{{tbl.tbl_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-1">
                                <label for="sheet_id" style="vertical-align: -webkit-baseline-middle;">Sheet ID: </label> 
                            </div>            
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="sheet_id">
                            </div> 
                        </div>
                        <div class="row mt-2">
                            <div class="offset-md-1 col-md-2">
                                <label for="sheet_header" style="vertical-align: -webkit-baseline-middle;">Header Row Index: </label> 
                            </div>            
                            <div class="col-md-1">
                                <input type="text" class="form-control" name="sheet_header" id="sheet_header">
                            </div>
                            <div class="col-md-1">
                                <label for="sheet_range" style="vertical-align: -webkit-baseline-middle;">Range: </label> 
                            </div>            
                            <div class="col-md-2">
                                <input type="text" class="form-control" name="sheet_range" id="sheet_range">
                            </div>
                            <div class="offset-md-2 col-md-2 mt-1 mb-2">
                                <button type="button" class="btn btn-outline-primary btn-md btn_import_table">import</button>
                            </div>                            
                        </div>
                        <div class="row col-md-12" name="table_area" style="margin: auto; overflow-x:auto;"></div>
                        
                    </div>
                </div>
                <div class="col-xl-6 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="row">
                            <div class="offset-md-1 col-md-1">
                                <label for="tbl_list" style="vertical-align: -webkit-baseline-middle;">Tables: </label> 
                            </div>            
                            <div class="col-md-3">
                                <select class="form-control" id="tbl_list">
                                    {% for tbl in tbls %} 
                                        <option value="{{tbl.id}}">{{tbl.tbl_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-1">
                                <label for="sheet_id" style="vertical-align: -webkit-baseline-middle;">Sheet ID: </label> 
                            </div>            
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="sheet_id">
                            </div> 
                        </div>
                        <div class="row mt-2">
                            <div class="offset-md-1 col-md-2">
                                <label for="sheet_header" style="vertical-align: -webkit-baseline-middle;">Header Row Index: </label> 
                            </div>            
                            <div class="col-md-1">
                                <input type="text" class="form-control" name="sheet_header" id="sheet_header">
                            </div>
                            <div class="col-md-1">
                                <label for="sheet_range" style="vertical-align: -webkit-baseline-middle;">Range: </label> 
                            </div>            
                            <div class="col-md-2">
                                <input type="text" class="form-control" name="sheet_range" id="sheet_range">
                            </div>
                            <div class="offset-md-2 col-md-2 mt-1 mb-2">
                                <button type="button" class="btn btn-outline-primary btn-md btn_import_table">import</button>
                            </div>                            
                        </div>
                        <div class="row col-md-12" name="table_area" style="margin: auto; overflow-x:auto;"><iframe src="/static/chart/first_figure.html" width="100%" height="600px"></iframe></div>
                        
                    </div>
                </div>
                <div class="col-xl-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="row">
                            <div class="offset-md-1 col-md-1">
                                <label for="tbl_list" style="vertical-align: -webkit-baseline-middle;">Tables: </label> 
                            </div>            
                            <div class="col-md-3">
                                <select class="form-control" id="tbl_list">
                                    {% for tbl in tbls %} 
                                        <option value="{{tbl.id}}">{{tbl.tbl_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-1">
                                <label for="sheet_id" style="vertical-align: -webkit-baseline-middle;">Sheet ID: </label> 
                            </div>            
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="sheet_id">
                            </div> 
                        </div>
                        <div class="row mt-2">
                            <div class="offset-md-1 col-md-2">
                                <label for="sheet_header" style="vertical-align: -webkit-baseline-middle;">Header Row Index: </label> 
                            </div>            
                            <div class="col-md-1">
                                <input type="text" class="form-control" name="sheet_header" id="sheet_header">
                            </div>
                            <div class="col-md-1">
                                <label for="sheet_range" style="vertical-align: -webkit-baseline-middle;">Range: </label> 
                            </div>            
                            <div class="col-md-2">
                                <input type="text" class="form-control" name="sheet_range" id="sheet_range">
                            </div>
                            <div class="offset-md-2 col-md-2 mt-1 mb-2">
                                <button type="button" class="btn btn-outline-primary btn-md btn_import_table">import</button>
                            </div>                            
                        </div>
                        <div class="row col-md-12" name="table_area" style="overflow-x:auto;"></div>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- // Draggable cards section end -->       

    </div>

</div>
{% endblock %}

{% block js %}
<!-- BEGIN: Page Vendor JS-->
<script src="/static/app-assets/vendors/js/extensions/dragula.min.js"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Page JS-->
<script src="/static/app-assets/js/scripts/extensions/drag-drop.js"></script>
<script src="/static/app-assets/js/edit_dashboard.js"></script>
<!-- END: Page JS-->
{% endblock %}

