{% extends "main.html" %}

{% block styles %}
{% endblock %}

{% block content %}

<div class="content-body">
    <!-- Data list view starts -->
    <section id="data-thumb-view" class="data-thumb-view-header">
        <div class="row">
            <div class="col-md-1 offset-md-4">
                <label for="tbl_list" style="vertical-align: -webkit-baseline-middle;">Tables: </label> 
            </div>            
            <div class="col-md-3">
                <select class="form-control" id="tbl_list">
                    {% for tbl in tbls %} 
                        <option value="{{tbl.id}}">{{tbl.tbl_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        
        <div class="action-btns d-none">
            <div class="btn-dropdown mr-1 mb-1"></div>
            
            
        </div>
        
        <!-- dataTable starts -->
        <div class="table-responsive">
            <table class="table data-thumb-view">
                <thead>
                    <tr>
                        <th></th>
                        <th>A partir de</th>
                        <th>Para</th>
                        <th>Tipo</th>
                        <th>Açao</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field in fields %} 
                        <tr>
                            <td></td>
                            <input type="hidden" name="field_id" value="{{field.id}}">
                            <td class="product-name" name="from">{{field.from_}}</td>
                            <td class="product-name" name="to">{{field.to}}</td>
                            <td class="product-name" name="field_type">{{field.field_type}}</td>
                            <td class="product-action">
                                <span class="action-edit"><i class="feather icon-edit"></i></span>
                                <span class="action-delete"><i class="feather icon-trash"></i></span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- dataTable ends -->

        <!-- add new sidebar starts -->
        <div class="add-new-data-sidebar">
            <div class="overlay-bg"></div>
            <div class="add-new-data">
                <div class="div mt-2 px-2 d-flex new-data-title justify-content-between">
                    <div>
                        <h4 class="text-uppercase">Adicionar / Atualizar Dados da Tabela</h4>
                    </div>
                    <div class="hide-data-sidebar">
                        <i class="feather icon-x"></i>
                    </div>
                </div>
                <form action="" method="post" class="form" role="form" enctype="multipart/form-data">
                    <input type="hidden" name="cur_id" id="cur_id">
                    <input type="hidden" name="tbl_id" id="tbl_id" value="{{tbl_id}}">
                    <div class="data-items pb-3">
                        <div class="data-fields px-2 mt-3">
                            <div class="row">                            
                                <div class="col-sm-12 data-field-col">
                                    <label for="from">A partir de</label>
                                    <input type="text" class="form-control" name="from" id="from">
                                </div>
                                <div class="col-sm-12 data-field-col">
                                    <label for="to">Para</label>
                                    <input type="text" class="form-control" name="to" id="to">
                                </div>
                                <div class="col-sm-12 data-field-col">
                                    <label for="field_type">Tipo de campo</label>
                                    <select class="form-control" name="field_type" id="field_type">
                                        {% for field_type in field_types %} 
                                            <option value="{{field_type.id}}">{{field_type.field_type}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add-data-footer d-flex justify-content-around px-1 mt-2">
                        <div class="btn">
                            <button type="submit" class="btn btn-primary" id="btn_add_data">Add Data</button>
                        </div>
                        <div class="btn">
                            <button type="reset" class="btn btn-outline-danger">Cancelar</button>
                        </div>                        
                    </div>
                </form>
            </div>
        </div>
        <!-- add new sidebar ends -->
    </section>
    <!-- Data list view end -->

</div>
{% endblock %}

{% block js %}

<!-- BEGIN: Page JS-->
<script src="/static/app-assets/js/field-list-view.js"></script>
<!-- END: Page JS-->
{% endblock %}

