{% extends "main.html" %}

{% block styles %}

<style>
    button.op {
        font-size:x-large;
        color: blueviolet;
        padding: 4px 20px !important;

    }
    button.op.op_mul {
        padding: 8px 20px 0px 20px !important;
    }
    button.op.op_div {
        font-size: medium;
        padding: 8px 24px !important;
    }
</style>

{% endblock %}

{% block content %}

<div class="content-body">
    <!-- Data list view starts -->
    <section id="data-thumb-view" class="data-thumb-view-header">
        <div class="row">
            <div class="col-md-1 offset-md-4">
                <label for="tbl_list" style="vertical-align: -webkit-baseline-middle;">Tables: </label> 
            </div>            
            <div class="col-md-3">
                <select class="form-control" id="tbl_list">
                    {% for tbl in tbls %} 
                        <option value="{{tbl.id}}">{{tbl.tbl_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        
        <div class="action-btns d-none">
            <div class="btn-dropdown mr-1 mb-1"></div>
            
            
        </div>
        
        <!-- dataTable starts -->
        <div class="table-responsive">
            <table class="table data-thumb-view">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome da regra</th>
                        <th>Fórmula</th>
                        <th>Açao</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rule in rules %} 
                        <tr>
                            <td></td>
                            <input type="hidden" name="field_id" value="{{rule.id}}">
                            <td class="product-name" name="to">{{rule.to}}</td>
                            <td class="product-name" name="rule">{{rule.rule}}</td>
                            <td class="product-action">
                                <span class="action-edit"><i class="feather icon-edit"></i></span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- dataTable ends -->

        <!-- add new sidebar starts -->
        <div class="add-new-data-sidebar">
            <div class="overlay-bg"></div>
            <div class="add-new-data">
                <div class="div mt-2 px-2 d-flex new-data-title justify-content-between">
                    <div>
                        <h4 class="text-uppercase">Adicionar / Atualizar Dados da Tabela</h4>
                    </div>
                    <div class="hide-data-sidebar">
                        <i class="feather icon-x"></i>
                    </div>
                </div>
                <form action="" method="post" class="form" role="form" enctype="multipart/form-data">
                    <input type="hidden" name="cur_id" id="cur_id">
                    <input type="hidden" name="tbl_id" id="tbl_id" value="{{tbl_id}}">
                    <div class="data-items pb-3">
                        <div class="data-fields px-2 mt-3">
                            <div class="row">                            
                                <div class="col-sm-12 data-field-col">
                                    <label for="to">Nome da regra</label>
                                    <input type="text" class="form-control" name="to" id="to">
                                </div>
                                <div class="col-sm-12 data-field-col">
                                    <label for="rule">Fórmula</label>
                                    <textarea rows="4" cols="30" class="form-control" name="rule" id="rule"></textarea>
                                </div>
                                
                                <div class="col-sm-11 data-field-col mx-1" id="op_panel" style="border: solid #cccccc 1px; border-radius: 20px ;">
                                    <div class="row">
                                        <div class="col-sm-8 data-field-col">
                                            <label for="field">Campo</label>
                                            <select class="form-control" name="field" id="field">
                                                {% for field in fields %} 
                                                    <option value="{{field.id}}">{{field.to}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-3 data-field-col">
                                            <button type="button" class="btn btn-outline-primary btn-md mt-2 px-1" name="add_field" id="add_field" >Adicionar</button>
                                        </div>
                                    </div>
                                    <div class="row mb-2" style="justify-content: center;">
                                        <button type="button" class="btn btn-outline-primary btn-md mt-2 mx-1 op" name="op_plus" id="op_plus">+</button>
                                        <button type="button" class="btn btn-outline-primary btn-md mt-2 mx-1 op" name="op_minus" id="op_minus">-</button>
                                        <button type="button" class="btn btn-outline-primary btn-md mt-2 mx-1 op op_mul" name="op_mul" id="op_mul">*</button>
                                        <button type="button" class="btn btn-outline-primary btn-md mt-2 mx-1 op op_div" name="op_div" id="op_div">/</button>
                                    </div>
                                    <div class="row mb-2" style="justify-content: center;">
                                        <button type="button" class="btn btn-outline-primary btn-md mt-2 mx-1 op" name="op_bracket_1" id="op_bracket_1">(</button>
                                        <button type="button" class="btn btn-outline-primary btn-md mt-2 mx-1 op" name="op_bracket_2" id="op_bracket_2">)</button>
                                        <button type="button" class="btn btn-outline-primary btn-md mt-2 mx-1 op op_mul" name="op_exp" id="op_exp">**</button>
                                        <button type="button" class="btn btn-outline-primary btn-md mt-2 mx-1 op op_div" name="op_back" id="op_back">&lt;-</button>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add-data-footer d-flex justify-content-around px-1 mt-2">
                        <div class="btn">
                            <button type="submit" class="btn btn-primary" id="btn_add_data">Add Data</button>
                        </div>
                        <div class="btn">
                            <button type="reset" class="btn btn-outline-danger">Cancelar</button>
                        </div>                        
                    </div>
                </form>
            </div>
        </div>
        <!-- add new sidebar ends -->
    </section>
    <!-- Data list view end -->

</div>
{% endblock %}

{% block js %}


<!-- BEGIN: Page JS-->
<script src="/static/app-assets/js/rule-list-view.js"></script>
<!-- END: Page JS-->
{% endblock %}

